<div class="container mt-5">
  <h3>Cadastro de Usuario</h3>
  <form novalidade #formulario="ngForm" (ngSubmit)="confirmarCadastro(formulario)">
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nome</label>
          <input 
          type="text" 
          class="form-control " 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp"
          minlength="3"
          maxlength="120"
          required
          name="nome"
          ngModel
          #inputNome="ngModel"
          >
          <small *ngIf="inputNome.valid" class="form-text text-success">Ok</small>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Usuario</label>
          <input 
          type="text" 
          class="form-control"
          minlength="3"
          maxlength="120"
          required
          name="usuario"
          ngModel
          #inputUsuario="ngModel"
          >
          <small *ngIf="inputUsuario.valid" class="form-text text-success">Ok</small>
        </div>
      </div>
      <div class="col-4">
        <label for="selectSituacao">Situação do usuario</label>
        <select 
        class="form-control" 
        id="selectSituacao"
        name="situacao"
        required
        ngModel
        >
          <option value="true" selected="">Ativo</option>
          <option value="false" selected="">Inativo</option>
        </select>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Senha</label>
          <input 
          type="password" 
          class="form-control"
          name="senha"
          minlength="3"
          maxlength="8"
          required
          ngModel
          #inputSenha="ngModel"
          >
          <small *ngIf="inputSenha.valid" class="form-text text-success">Ok</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail</label>
          <input 
          type="text" 
          class="form-control"
          name="email"
          minlength="3"
          maxlength="120"
          required
          ngModel
          #inputEmail="ngModel"
          >
          <small *ngIf="inputEmail.valid" class="form-text text-success">Ok</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">CEP</label>
          <input 
          type="text" 
          class="form-control"
          name="cep"
          minlength="3"
          maxlength="9"
          required
          ngModel
          #inputCep="ngModel"
          >
          <small *ngIf="inputCep.valid" class="form-text text-success">Ok</small>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Rua</label>
          <input 
          type="text" 
          class="form-control"
          name="rua"
          minlength="3"
          maxlength="220"
          required
          ngModel
          #inputRua="ngModel"
          >
          <small *ngIf="inputRua.valid" class="form-text text-success">Ok</small>  
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Cidade</label>
          <input 
          type="text" 
          class="form-control"
          name="cidade"
          minlength="3"
          maxlength="120"
          required
          ngModel
          #inputCidade="ngModel"
          >
          <small *ngIf="inputCidade.valid" class="form-text text-success">Ok</small>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col">
        <button 
        type="submit" 
        class="btn btn-primary" 
        >Cadastrar</button>
      </div>
    </div>

  </form>
  <pre>{{formulario.value | json}}</pre>
</div>