<div class="container">
  <div class="row  mt-4">
    <div class="col">
      <p>Total de Prudotos</p> 
      <div class="card" style="background-color: #36b9cc">
        <div class="card-body">
          <h5 class="text-white">Produtos: {{ produtos.length }}</h5>
        </div>
      </div>
    </div>
    <div class="col-lg m-2">
      <p>Total de Funcionarios</p> 
      <div class="card" style="background-color: #4e73df">
        <div class="card-body">
          <h5 class="text-white">Fun.: ##</h5>
        </div>
      </div>
    </div>
    <div class="col-lg m-2">
      <p>Total de Clientes</p> 
      <div class="card"  style="background-color: #f6c23e">
        <div class="card-body">
          <h5 class="text-white">Clientes: ##</h5>
        </div>
      </div>
    </div>
    <div class="col-lg m-2">
      <p>Total de Vendas</p> 
      <div class="card" style="background-color: #1cc88a">
        <div class="card-body">
          <h5 class="text-white">Vendas: ##</h5>
        </div>
      </div>
    </div>
    <div class="col-lg m-2">
      <p>Total de Pedidos</p> 
      <div class="card" style="background-color: #e74a3b">
        <div class="card-body">
          <h5 class="text-white">Pedidos: ##</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  
</div>
