<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      Gerenciamento
    </a>
      <ul class="nav">
        <li>
          <a class="nav-link" routerLinkActive="active"  routerLink="">Início</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" href="/usuarios">Usuarios</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" href="/produtos">Produtos</a>
        </li>
      </ul>
  </div>
     
</nav>