<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      Gerenciamento
    </a>
      <ul class="nav">
        <li>
          <a class="nav-link" routerLinkActive="active"  routerLink="">Início</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active">Vendas</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active">Pedidos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/clientes']">Lista</a></li>
            <li><a class="dropdown-item" [routerLink]="['/cadastro-clientes']">Cadastrar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Funcionarios
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/usuarios']">Lista</a></li>
            <li><a class="dropdown-item" [routerLink]="['/cadastro-usuario']">Cadastrar</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" href="/produtos">Produtos</a>
        </li>
      </ul>
  </div>
     
</nav>